<div class="ErrorAlertContainer Alert" id="ErrorAlertContainer" >
    <p>
        <%=errorMsg %>
    </p>
    <button class="CloseBtn" id="errorAlertClose" onclick="errorAlertClose()">X</button>
</div>