<div class="Navbar">
    <div class="NavfloatingLogoContainer">
        <img src="/public/Assets/logo.png">
        <h2>
            MyAid
        </h2>
    </div>


    <% if(authStatus){%>
        <div class="navButtonControls">
        <% if(userRole == "Admin"){%>
            <p>Admin</p>
        <%}else if (userRole == "RECIPIENT"){%>
            <div class="RecipientControls userControls">
                <button class="userControlsBtn "  onclick="goToAvaliableDonationsPage()">Available Donations</button>
                <button class="userControlsBtn addDontaionBtn" onclick="goToMyRequestPage()">My Request</button>
                <button class="userControlsBtn logOut" onclick="logout()">Logout</button>
            </div>
        <%}else if(userRole == "DONER"){%>
            <div class="DonerControls userControls">
                <button class="userControlsBtn ManageDontaionsBtn" onclick="goToManageDonationsPage()">Manage Donations</button>
                <button class="userControlsBtn addDontaionBtn" onclick="goToAddDonationsPage()">Add Donations</button>
                <button class="userControlsBtn logOut" onclick="logout()">Logout</button>
            </div>
        <%}%>
    </div>
    <%}else{%>
        <div class="navButtonControls">
        <button class="navbarControlBtns navGetDonationBtn" id="navGetDonationBtn">Get Donations</button>
        <button class="navbarControlBtns navDonateBtn " id="navDonateBtn">Donate</button>
        <button class="navbarControlBtns navLoginBtn" id="navLoginBtn">Login</button>
        <button class="navbarControlBtns navsignUpBtn" id="navsignUpBtn">Signup</button>            
        </div>

    <%}%>
</div>