<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AID</title>
    <link rel="stylesheet" href="/public/css/layout.css">
    <link rel="stylesheet" href="/public/css/Authentication.css">
    <link rel="stylesheet" href="/public/css/navbar.css">
    <link rel="stylesheet" href="/public/css/home.css">
    <link rel="stylesheet" href="/public/css/addDonations.css">
    <link rel="stylesheet" href="/public/css/manageDonation.css">
    <link rel="stylesheet" href="/public/css/seeRequests.css">
    <link rel="stylesheet" href="/public/css/myRequest.css">

</head>
<body>
    <%- include("partials/Navbar")%>
    <% if(errorStatus ){%>
        <%- include("partials/ErrorAlert") %>
    <%} %>
    <% if(successStatus){%>
        <%- include("partials/SuccessAlert") %>
    <%}%>
    <%- body %>
    <script src="/public/js/Main.js"></script>
    <script src="/public/js/navbar.js"></script>
    <script src="/public/js/Authentication.js"></script>
    <script src="/public/js/addDonations.js"></script>
    <script src="/public/js/manageDonation.js"></script>
    <script src="/public/js/editDonations.js"></script>
    <script src="/public/js/availableDonations.js"></script>
    <script src="/public/js/seeRequest.js"></script>
</body>
</html>