<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AID</title>
    <link rel="stylesheet" href="../public/css/layout.css">
    <link rel="stylesheet" href="../public/css/Authentication.css">
    <link rel="stylesheet" href="../public/css/navbar.css">
    <script src="../public/js/Main.js"></script>
    <script src="../public/js/navbar.js"></script>
    <script src="../public/js/Authentication.js"></script>
</head>
<body>
    <%- include("partials/Navbar")%>
    <%- body %>
</body>
</html>