<div class="authContainer loginContainer">
    <form class="authForm">
        <input placeholder="Enter Your Email" type="email" required class="authInputFied" id="loginEmail"/>
        <input placeholder="Enter Your Password" type="password" required class="authInputFied" class="loginPassword"/>
        <button class="authPrimaryButton LoginBtn" id="loginBtn">Login</button>
    </form>
    <div class="authMoreOptionsContainer">
        <span>Dont Have and Account ?</span>
        <button class="authSecondaryButton registerBtn">Signup</button>

    </div>
</div>