<div class="authContainer loginContainer">
    <p id="LoginFormErrorMsg" style="color: red;"></p>
    <form class="authForm" id="loginForm">
        <input placeholder="Enter Your Email" type="email" required class="authInputFied" id="loginEmail" name="email"/>
        <input placeholder="Enter Your Password" type="password" required class="authInputFied" id="loginPassword" name="password"/>
        <button class="authPrimaryButton LoginBtn" type="button" id="loginBtnMain">Login</button>
    </form>
    <div class="authMoreOptionsContainer">
        <span>Dont Have and Account ?</span>
        <button class="authSecondaryButton registerBtn" id="gotoRegisterPageBtn">Signup</button>

    </div>
</div>