<div class="authContainer registerContainer">
<form class="registrationForm" id="registrationForm">
    <p id="registrationFormError" style="color: red;"></p>
    <input placeholder="Enter Your Organizational Email" type="email" required name="Organization_Email" class="authInputFied"/>
    <input  placeholder="Enter Your Organization Name" type="text" required name="Organization_Name" class="authInputFied"/>
    <input  placeholder="Enter Your Organization PhoneNumber" type="text" required name="Organization_PhoneNumber" class="authInputFied"/>
    <div class="AccountType">
        <h3>Type of Account</h3>
        <div class="AccountTypeOptions">
            <label for="recipient">Recipient</label>
            <input type="radio" value="RECIPIENT" name="Account_Type" id="Account_Type_Recipient"/>
        </div>
        <div class="AccountTypeOptions">
            <label for="Doner">Doner</label>
            <input type="radio" value="DONER" name="Account_Type" id="Account_Type_Doner"/>
        </div>
    </div>
    <input  placeholder="Enter Password" type="password" required name="Organization_Password" class="authInputFied" id="registerPassword"/>
    <input  placeholder="Password Again" type="password" required class="authInputFied" id="registerPasswordAgain"/>
</form>    
<button class="authPrimaryButton registerBtn" type="button" id="registerBtn" onclick="registerUser()">Register</button>

 <div class="authMoreOptionsContainer">
        <span>Already Have and Account ?</span>
        <button class="authSecondaryButton ">Login</button>

    </div>
</div>