<div class="authContainer registerContainer">
    <div class="firstRegistrationForm" id="firstRegistrationForm">

        <h3>What do you want to register as</h3>
        <div class="AccountTypeSelectionContainer">
            <label>As A Recipient</label>
            <input type="radio" name="AccountTpe" value="RECIPIENT"  id="AccountTpe_RECIPIENT"/>
        </div>
        <div class="AccountTypeSelectionContainer">
            <label>As A Doner</label>
            <input type="radio" name="AccountTpe" value="DONER" id="AccountTpe_DONER" />
        </div>
        <h4 id="ErrorMessageAccountTypeSelection" style="color: red;"></h4>
        <button id="tosecondRegistrationFormBtn">Next</button>  
    </div>
    <div class="secondRegistrationForm authForm" id="secondRegistrationForm">
        <h4 id="ErrorMessageFormError" style="color: red;"></h4>

    <input placeholder="Enter Organization Email" type="email" required class="authInputFied" id="registerEmail"/>
    <input placeholder="Enter Organization Name" type="text" required class="authInputFied" id="registrationName"/>
    <input placeholder="Enter Organization PhoneNumber" type="email" required class="authInputFied" id="registrationPhoneNumber"/>
    <input placeholder="Password" type="password" required class="authInputFied" id="registrationPassword"/>
    <input placeholder="Password Again" type="password" required class="authInputFied" id="passwordAgain"/>
    <button class="authPrimaryButton registerBtn" id="registerBtn">Register</button>
    </div>
    <div class="authMoreOptionsContainer">
        <span>Already Have and Account ?</span>
        <button class="authSecondaryButton registerBtn">Login</button>

    </div>
</div>